Repository pacstall/pacstall: changes, and which pre-commit hooks are due for each by the changed paths.
All: fish_syntax, fish_indent, pyupgrade

fish_syntax:
  name: Fish syntax check
  description: Check Fish shell syntax
  entry: fish --no-execute
  language: system

fish_indent:
  name: Fish indent check
  description: Check Fish shell indentation
  entry: fish_indent --write
  language: system

pyupgrade:
  name: Check for old python syntax
  description: Automatically upgrade syntax for newer versions.
  entry: poetry run pyupgrade
  args:
  - --py36-plus
  language: system

fix(main): add pacdeps keep case on lock
  pacstall
Due: none

fix(install): fix keep on pacdeps
  misc/scripts/install-local.sh
Due: none

ref(install): remove `pacstall-optdepends` cleanup
  misc/scripts/install-local.sh
Due: none

fix(install): Fix pacdep install cmd
  misc/scripts/install-local.sh
Due: none

fix: `-K` flag on pacdep fails (keep build dir) (#398)
  misc/scripts/install-local.sh
  pacstall
Due: none

bump: release 1.7 sienna
  pacstall
Due: none

docs(man): update for 1.7 sienna
  misc/pacstall.8.gz
Due: none

bump: release 1.7 sienna (#401)
  misc/pacstall.8.gz
  pacstall
Due: none

build(poetry): add `commitizen` to dev dependencies
  poetry.lock
  pyproject.toml
Due: none

build(precommit): add commitizen pre-commit hook
  .pre-commit-config.yaml
Due: none

build(precommit): add `.git` to `insert-license` exclusion
  .pre-commit-config.yaml
Due: none

build: add pre-commit hooks (#390)
  .pre-commit-config.yaml
  LICENSE_BOILERPLATE
  README.md
  pacstall/api/__init__.py
  pacstall/api/message.py
  pacstall/cmds/__init__.py
  pacstall/cmds/download.py
  pacstall/completion/bash
  pacstall/completion/fish
  pacstall/pacstall.py
  poetry.lock
  pyproject.toml
Due: fish_syntax, fish_indent, pyupgrade

refactor: re-remove all scripts
  pacstall/pacstall
  pacstall/scripts/add-repo.sh
  pacstall/scripts/download.sh
  pacstall/scripts/error_log.sh
  pacstall/scripts/install-local.sh
  pacstall/scripts/query-info.sh
  pacstall/scripts/remove.sh
  pacstall/scripts/search.sh
  pacstall/scripts/update.sh
  pacstall/scripts/upgrade.sh
  pacstall/uninstall.sh
Due: none

build(poetry): update lock file
  poetry.lock
Due: none

Fix permissions on install
  install.sh
Due: none

fix(main, scripts): replace fragile logname/$USER with new variable $user
  README.md
  misc/completion/bash
  misc/completion/fish
  misc/scripts/download.sh
  misc/scripts/install-local.sh
  misc/scripts/remove.sh
  misc/scripts/search.sh
  misc/scripts/upgrade.sh
  pacstall
  uninstall.sh
Due: fish_syntax, fish_indent

fix: replace fragile logname/$USER with new variable $user
  misc/scripts/install-local.sh
  misc/scripts/upgrade.sh
  pacstall
Due: none

chore: `pacstall.py` -> `__main__.py`
  pacstall/__main__.py
Due: pyupgrade

feat(parser)!: make arg-parser to use words
  .pre-commit-config.yaml
  pacstall/__init__.py
  pacstall/__main__.py
  pacstall/parser.py
Due: pyupgrade

chore(parser): add `HACK` comments
  pacstall/parser.py
Due: pyupgrade

refractor: change user to PACSTALL_USER
  misc/scripts/install-local.sh
  misc/scripts/upgrade.sh
  pacstall
Due: none

refractor: change logname to PACSTALL_USER in the installer
  install.sh
Due: none

refractor: change LOGNAME to PACSTALL_USER in update.sh
  misc/scripts/update.sh
Due: none

refractor: change LOGNAME to PACSTALL_USER in error_log.sh
  misc/scripts/error_log.sh
Due: none

fix: inconsistent user account detection (#405)
  install.sh
  misc/scripts/error_log.sh
  misc/scripts/install-local.sh
  misc/scripts/update.sh
  misc/scripts/upgrade.sh
  pacstall
Due: none

refactor(parser): `_subparsers` -> `_positionals`
  pacstall/parser.py
Due: pyupgrade

fix(completions): move variable, remove extra `"`s
  misc/completion/bash
Due: none

fix(completions): bash completions not filtering packages (#411)
  misc/completion/bash
Due: none

fix(pacstall): missing `-I` error message
  pacstall
Due: none

fix(pacstall): incorrect download message file path
  pacstall
Due: none

perf(fish): stop `curl`ing `packagelist` uselessly
  misc/completion/fish
Due: fish_syntax, fish_indent

fix(completions): missing `-T`completions for bash
  misc/completion/bash
Due: none

fix(pacstall): missing `-I` error message (#414)
  pacstall
Due: none

Update pacstall
  pacstall
Due: none

fix(pacstall): incorrect download message file path (#416)
  pacstall
Due: none

fix(bash): missing `-T` completions (#418)
  misc/completion/bash
Due: none

perf(bash): stop `curl`ing `packagelist` uselessly
  misc/completion/bash
Due: none

fix(main): directory and script fail same name
  pacstall
Due: none

perf(completions): stop downloading `packagelist` needlessly (#417)
  misc/completion/bash
  misc/completion/fish
Due: fish_syntax, fish_indent

Fix(completions): fix bash completions flag selection
  misc/completion/bash
Due: none

Path conditions:
  fish_syntax: any of: (fish)
  fish_indent: any of: (fish)
  pyupgrade: any of: \.py$
