Repository pacstall/pacstall: changes, and which pre-commit hooks are due for each by the changed paths.
All: fish_syntax, fish_indent, pyupgrade

.pre-commit-config.yaml:

repos:
  # General
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: check-ast
      - id: check-added-large-files
  # Fish
  - repo: local
    hooks:
      - id: fish_syntax
        name: Fish syntax check
        description: Check Fish shell syntax
        entry: fish --no-execute
        language: system
        files: "(fish)"
      - id: fish_indent
        name: Fish indent check
        description: Check Fish shell indentation
        entry: fish_indent --write
        language: system
        files: "(fish)"
  # Misc
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.10
    hooks:
      - id: insert-license
        args: [--license-filepath, LICENSE_BOILERPLATE, "--detect-license-in-X-top-lines=20"]
        exclude: '^(.github|.git)'
  # Python
  - repo: local
    hooks:
      - id: codespell
        name: Check for misspellings
        description: Checks for common misspellings in text files
        types: [text]
        entry: poetry run codespell
        args: [-H, -f, --builtin, clear, rare, informal, usage, code]
        language: system
      - id: black
        name: Format python code
        description: Automatically format code to follow the black code style
        types_or: [python, pyi]
        entry: poetry run black
        language: system
      - id: isort
        name: Sort python imports
        description: Automatically sort import statements
        types_or: [cython, pyi, python]
        entry: poetry run isort
        args: ["--py=auto", "--balanced", "-p=pacstall", "-o=rich", "-o=requests", "--filter-files"]
        language: system
      - id: pyupgrade
        name: Check for old python syntax
        description: Automatically upgrade syntax for newer versions.
        types: [python]
        entry: poetry run pyupgrade
        args: [--py36-plus]
        language: system
      - id: mypy
        name: Type check python code
        description: Static type checker for Python
        entry: poetry run mypy
        language: system
        types_or: [python, pyi]
        args: ["--ignore-missing-imports", "--strict", "--pretty", "--show-error-context", "--show-column-numbers", "--show-error-codes"]
  # Commit message hook
  - repo: local
    hooks:
      - id: commitizen
        name: Check commit message
        description: Check whether the commit message follows committing rules
        entry: poetry run cz check --commit-msg-file
        language: system
        require_serial: true
        stages: [commit-msg]
# vim:set ft=yaml ts=2 sw=2 et:

fix(pacstall): installation failure when a directory of the same name is present (#419)
  pacstall
Due: none

docs(parser): add `CustomHelpFormatter` docstring
  pacstall/parser.py
Due: pyupgrade

docs(parser): fix `C0301`
  pacstall/parser.py
Due: pyupgrade

fix(bash): completions not working when multiple flags are present (#422)
  misc/completion/bash
Due: none

refactor(parser): version `2.0` -> `2.0.0`
  pacstall/parser.py
Due: pyupgrade

fix(pacstall): outdated version printer for scripting
  pacstall
Due: none

docs(init): fix `D200`
  pacstall/__init__.py
Due: pyupgrade

docs(parser): split `HACK` comments to multiple lines
  pacstall/parser.py
Due: pyupgrade

fix: typo in error for a non-installed package
  pacstall
Due: none

docs: fix license boilerplate
  LICENSE_BOILERPLATE
  pacstall/__init__.py
  pacstall/__main__.py
  pacstall/api/__init__.py
  pacstall/cmds/__init__.py
  pacstall/parser.py
Due: pyupgrade

feat!: convert `pacstall` to python (#343)
  .pre-commit-config.yaml
  LICENSE_BOILERPLATE
  README.md
  pacstall/__init__.py
  pacstall/__main__.py
  pacstall/api/message.py
  pacstall/cmds/__init__.py
  pacstall/cmds/download.py
  pacstall/completion/bash
  pacstall/completion/fish
  pacstall/pacstall
  pacstall/parser.py
  pacstall/scripts/add-repo.sh
  pacstall/scripts/error_log.sh
  pacstall/scripts/install-local.sh
  pacstall/scripts/query-info.sh
  pacstall/scripts/remove.sh
  pacstall/scripts/search.sh
  pacstall/scripts/update.sh
  pacstall/scripts/upgrade.sh
  pacstall/uninstall.sh
  poetry.lock
  pyproject.toml
Due: fish_syntax, fish_indent, pyupgrade

feat!: convert `pacstall` to python (#343)
  .pre-commit-config.yaml
  LICENSE_BOILERPLATE
  README.md
  pacstall/__init__.py
  pacstall/__main__.py
  pacstall/api/message.py
  pacstall/cmds/__init__.py
  pacstall/cmds/download.py
  pacstall/completion/bash
  pacstall/completion/fish
  pacstall/pacstall
  pacstall/parser.py
  pacstall/scripts/add-repo.sh
  pacstall/scripts/error_log.sh
  pacstall/scripts/install-local.sh
  pacstall/scripts/query-info.sh
  pacstall/scripts/remove.sh
  pacstall/scripts/search.sh
  pacstall/scripts/update.sh
  pacstall/scripts/upgrade.sh
  pacstall/uninstall.sh
  poetry.lock
  poetry.lock.REMOVED.git-id
  pyproject.toml
Due: fish_syntax, fish_indent, pyupgrade

feat: pin package on dummy deb install
  misc/scripts/install-local.sh
Due: none

fix: prevent local deb from being able to upgrade
  misc/scripts/install-local.sh
Due: none

fix: remove priority on dummy deb removal
  misc/scripts/remove.sh
Due: none

feat: prevent dummy deb from upgrading
  misc/scripts/install-local.sh
  misc/scripts/remove.sh
Due: none

fix: prevent dummy deb from upgrading
  misc/scripts/install-local.sh
  misc/scripts/remove.sh
Due: none

ref: add space between `>` and `/dev/null`
  misc/scripts/install-local.sh
Due: none

fix: cleanup pin on interruption
  misc/scripts/install-local.sh
Due: none

ref: switch positions of pin removal
  misc/scripts/install-local.sh
Due: none

feat: allow prepare function to be absent
  misc/scripts/install-local.sh
Due: none

fix(search): error when the query contains `-`
  misc/scripts/search.sh
Due: none

fix(search): error when the query contains `-` (#435)
  misc/scripts/search.sh
Due: none

fix: miscellaneous possible bugs due to possible dashes in inputs
  misc/scripts/add-repo.sh
  misc/scripts/download.sh
  misc/scripts/upgrade.sh
  pacstall
Due: none

fix(install-local): remove duplicate line
  misc/scripts/install-local.sh
Due: none

fix: better catch all pinning
  misc/scripts/install-local.sh
Due: none

fix: add -- to curl in search
  misc/scripts/search.sh
Due: none

docs: update copyright
  CONTRIBUTING.md
  install.sh
  misc/completion/bash
  misc/completion/fish
  misc/scripts/add-repo.sh
  misc/scripts/download.sh
  misc/scripts/error_log.sh
  misc/scripts/install-local.sh
  misc/scripts/query-info.sh
  misc/scripts/remove.sh
  misc/scripts/search.sh
  misc/scripts/update.sh
  misc/scripts/upgrade.sh
  pacstall
  uninstall.sh
Due: fish_syntax, fish_indent

fix: prevent dummy deb from upgrading (#432)
  misc/scripts/install-local.sh
  misc/scripts/remove.sh
Due: none

fix: miscellaneous bugs due to missing dashes in inputs (#439)
  misc/scripts/add-repo.sh
  misc/scripts/download.sh
  misc/scripts/search.sh
  misc/scripts/upgrade.sh
  pacstall
Due: none

fix(remove): return -> exit
  misc/scripts/remove.sh
Due: none

fix(remove): removal of unidentified packages (#437)
  misc/scripts/remove.sh
Due: none

fix(install): enhance `$gives` error logs
  misc/scripts/install-local.sh
Due: none

fix(install): fix indentation
  misc/scripts/install-local.sh
Due: none

ref(install): update "gives" error log message
  misc/scripts/install-local.sh
Due: none

fix(install): ambiguous error message when `$gives` contains multiple fields (#444)
  misc/scripts/install-local.sh
Due: none

fix(upgrade.sh): warning -> warn
  misc/scripts/upgrade.sh
Due: none

fix(upgrade.sh): warning -> warn (#445)
  misc/scripts/upgrade.sh
Due: none
